<!DOCTYPE html>
<html>
    <head>
        <title>Identifier</title>
    </head>
    <body>
        <h1>Welcome to Bank Identifier!</h1>
        <br><h3>How to use:</h3>
        <br>To identify your Bank: 
        <ol start="1">
            <li>Insert card 
<a href="/" title=
"A bank identification number (BIN), 
also called an issuer identification number (IIN), 
is a set of four to six digits found in financial payment cards, 
i.e., credit, debit, and charge cards">
            BIN</a> number into the field</li>
            <li>Click the IDENTIFY button</li>
            <li>Wait for response</li>
        </ol>
        <form method="GET", action="/identify">
            <input type="number" id="BIN" name="BIN" min="0" placeholder="Enter BIN"><br><br>
            <input type="submit" value="IDENTIFY">
        </form>
    </body>
</html>